@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.3) brightness(0.6);
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(0.6) brightness(0.9);
}
